<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to "Hannibal", root_path, class:'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user%>
          <li class=""><%= link_to "Bienvenue " + current_user.email  %></li>
          <li><%= link_to "Add a quote", '.add-quote-modal-sm', "data-toggle" => "modal", 'data-target' => '.add-quote-modal-sm' %></li>
          <li><%= link_to "My Network", '.see-user-network', "data-toggle" => "modal", 'data-target' => '.see-user-network' %></li>
          <li class="active"><%= link_to "logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li class=""><%= link_to "login", new_user_session_path %></li>
          <li class=""><%= link_to "Register", new_user_registration_path %></li>
          <% end %>
          <!--  -->
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>