 <div class="visible-xs">
  <div class="inline flex-container">
    <li>HANNIBAL</li>
    <li><%= link_to image_tag("add_quote_white_600.png", size: '30x30'), ".add-quote-modal-sm", :data => { :toggle =>"modal" } %></li>
    <li><%= link_to image_tag("user_white_600.png", size: '30x30'), edit_user_registration_path %></li>
    <li><%= link_to image_tag("logout_white_600.png", size: '30x30'), destroy_user_session_path, :method => :delete %></li>
  </div>
  <hr class="hr-red">
  <div class="user-stats text-center">
    <p>Hello <%= @user.name %>, you have <%= @user.quotes.size %> quotes, you have liked <%= @user.upvotes.size %> quotes and you follow <%= @user.following.size %> other users !</p>
  </div>
  <div class="user-actions">
    <div class="row">
      <div class="col-xs-6 actions-grid"><%= link_to image_tag("list_white_600.png", size: '100x100'), ".mobile-all-user-quotes", :data => { :toggle =>"modal" } %>
        <%= render 'modal/mobile_all_user_quotes' %>
      </div>
      <div class="col-xs-6 actions-grid"><%= link_to image_tag("like_white_600.png", size: '100x100'), ".mobile-all-user-likes", :data => { :toggle =>"modal" } %>
      <%= render 'modal/mobile_all_user_likes' %>
    </div>
      <div class="col-xs-6 actions-grid"><%= link_to image_tag("network_white_600.png", size: '100x100'), ".see-user-network", :data => { :toggle =>"modal" } %></div>
      <div class="col-xs-6 actions-grid"><%= image_submit_tag("inspiration_white_600.png", width: "100", height: "100", size: '100x100', id:"showmenu") %>
        <div class="menu" style="display:none">
          <form id="" action="">
            <input type="text" value="<%= params[:keyword]%>" name="keyword" placeholder="Enter a keyword ...">
            <button type="submit" class="btn btn-primary">go</button>
          </form>
        </div>  
      </div>
      <div class="col-xs-6 actions-grid"><%= link_to image_tag("trending_white_600.png", size: '100x100'), ".mobile-feed-sm", :data => { :toggle =>"modal" } %>
        <%= render 'modal/mobile_feed' %>
      </div>
      <div class="col-xs-6 actions-grid">ALl quotes</div>
    </div>
  </div>
</div>