<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to "Hannibal", root_path, class:'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user%>
          <li class=""><%= link_to "Bienvenue " + current_user.name.capitalize  %></li>
          <li><%= link_to image_tag("add_quote_white_600.png", size: '30x30'), ".add-quote-modal-sm", :data => { :toggle =>"modal" } %></li>
          <li><%= link_to image_tag("network_white_600.png", size: '30x30'), '.see-user-network', :data => { :toggle =>"modal" } %></li>
          <li><%= link_to image_tag("user_white_600.png", size: '30x30'), edit_user_registration_path %></li>
          <li><%= link_to image_tag("logout_white_600.png", size: '30x30'), destroy_user_session_path, :method => :delete %></li>
          <% else %>
          <li class=""><%= link_to image_tag("login_white_600.png", size: '30x30'), new_user_session_path %></li>
          <li class=""><%= link_to "Register", new_user_registration_path %></li>
          <% end %>
          <!--  -->
        
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>