<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#all" aria-controls="home" role="tab" data-toggle="tab"><%= image_tag("all_quotes_white_600.png", size: "25x25", alt: "Quote separation", class:'center-block') %></a></li>
  <li role="presentation"><a href="#feed" aria-controls="feed" role="tab" data-toggle="tab"><%= image_tag("trending_white_600.png", size: "25x25", alt: "Quote separation", class:'center-block') %></a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="all">
    <div class="quotes-container">
      <% @quotes.each do |q| %>
      <div class="blockquote middle-margin">
        <li class="list-quotes"><%= q.content %></li>
          <% if @user.upvoted?(q)%>
          <div class="">
                <li class=""><span><%= link_to 'By ' + q.user.name, user_path(q.user_id), class:'author_of_quote' %> <%= link_to '<i class="fa fa-heart" aria-hidden="true"></i>
            '.html_safe, upvote_path(current_user.upvotes.where(quote: q).first), class:'likes', method: :delete %></span></li>
          </div>
            
          <% else %>
          <div class="">
            <li class=""><span><%= link_to 'By ' + q.user.name, user_path(q.user_id), class:'author_of_quote' %> <%= link_to '<i class="fa fa-heart-o" aria-hidden="true"></i>
            '.html_safe, upvotes_path(quote_id: q.id), class:'likes', method: :post%></span></li>
          </div>

          <% end %>
          <%= image_tag("quotes_red_600.png", size: "16x16", alt: "Quote separation", class:'center-block') %>
      </div>
      <% end %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="feed">
    <% if @feed_items.any? %>
        <div class="quotes-container">
          <%@feed_items.each do |item| %>
          <li class="list-quotes"><%= item.content %></li>
          <p class="author_of_quote">Added <%= time_ago_in_words(item.created_at) %> ago by <%= link_to item.user.name, user_path(item.user_id) %></p>
          <div class="sm-up-space">
            <%= image_tag("quotes_red_600.png", size: "16x16", alt: "Quote separation", class:'center-block') %>  
          </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>