  <%= render 'shared/navbar_mobile' %>
<div id="desktop-main-actions">
  <br>
  <%= link_to image_tag("list_white_600.png", size: '80x80'), ".see-all-user-quotes", :data => { :toggle =>"modal" } %>
  <p class="action-buttons glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover-user-quotes" data-content="Display all your quotes">
  </p>
  <%= render 'modal/see_all_user_quotes' %>
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".see-all-user-likes">All I liked</button> -->
  <%= link_to image_tag("like_white_600.png", size: '80x80'), ".see-all-user-likes", :data => { :toggle =>"modal" } %>
    <%= render 'modal/see_all_user_likes' %>
  <p class="action-buttons glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover-user-likes" data-content="Display all the quotes you liked"></p>
  <br>
  <%= image_submit_tag("inspiration_white_600.png", width: "80", height: "80", id:'showmenu') %>
  <p class="action-buttons glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover-search" data-content="Search quotes in all our Database !"></p>
  <!-- <div id="showmenu">Search</div> -->
  <div class="menu" style="display:none">
    <form action="">
    <input type="text" value="<%= params[:keyword]%>" name="keyword" placeholder="Enter a keyword ...">
    <button type="submit" class="btn btn-primary">go</button>
    </form>
  </div>  
</div>


<script>$(function () {
  $('[data-toggle="popover-user-quotes"]').popover()
  $('[data-toggle="popover-user-likes"]').popover()
  $('[data-toggle="popover-search"]').popover()

})
</script>