<div class="visible-xs">
  <div class="inline flex-container">
    <li>fdgfgfgfg</li>
    <li>gfgfgfgf</li>
    <li>gfgfgfgfgfgfg</li>
  </div>
  <div class="user-actions">
    <div class="row">
      <div class="col-xs-6 actions-grid">Read Quotes</div>
      <div class="col-xs-6 actions-grid">Read Likes</div>
      <div class="col-xs-6 actions-grid">Netword</div>
      <div class="col-xs-6 actions-grid">Search</div>
      <div class="col-xs-6 actions-grid"><%= link_to image_tag("trending.png", size: '100x100'), ".mobile-feed-sm", :data => { :toggle =>"modal" } %>
        <%= render 'modal/mobile_feed' %>
      </div>
      <div class="col-xs-6 actions-grid">ALl quotes</div>
    </div>
  </div>
</div>
<div class="hidden-xs">
  <h2 class='small-margin text-center'>Display...</h2>
    <%= render 'modal/see_all_user_quotes' %>
  <br>
  <li><%= link_to image_tag("all_quotes.png", size: '150x150'), ".see-all-user-quotes", :data => { :toggle =>"modal" } %></li>
  <li class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover" data-content="Display all your quotes">
  </li>
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".see-all-user-likes">All I liked</button> -->
  <%= link_to image_tag("heart_strip_small.png", size: '150x150'), ".see-all-user-likes", :data => { :toggle =>"modal" } %>
    <%= render 'modal/see_all_user_likes' %>
  <br>
  <button type="button" id="showmenu" class="btn btn-primary">Some inspiration...</button>
  <!-- <div id="showmenu">Search</div> -->
  <div class="menu" style="display:none">
    <form action="">
    <input type="text" value="<%= params[:keyword]%>" name="keyword" placeholder="Enter a keyword ...">
    <%= submit_tag "look" %>
    </form>
  </div>  
</div>


<script>$(function () {
  $('[data-toggle="popover"]').popover()
})</script>