<div class="container">
  <%= render 'shared/error_messages' %>
  <% if @quotes && user_signed_in? %>
    <%= render 'shared/navbar' %>
      <div class="row">
        <div id="home-user-actions" class="col-xs-12 col-sm-2 small-margin">
          <%= render 'shared/user_display_actions' %>
      </div>
        <div class="col-xs-12 col-sm-10 hidden-xs">
          <%= render 'shared/tabs_quotes_feed' %>
          <!-- Nav tabs -->
        </div>
      </div>      
        <%= render 'modal/quote_form' %>
        <%= render 'modal/see_user_network' %>
</div> <!-- container -->

  
  <% else %>

  <div class="container">
    <div class="visitor-welcome">
      <h1>Hannibal</h1>
      <p>just sign in!</p>  
      <p><%= link_to image_tag('login_white_600.png'), new_user_session_path %></p>  
      <p>sign UP!</p>  
      <p><%= link_to image_tag('login_white_600.png'), new_user_registration_path %></p>  
    </div>
    
  </div>
<% end %>