<div class="container">
  <%= render 'shared/error_messages' %>
  <% if @quotes && user_signed_in? %>
    <%= render 'shared/navbar' %>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".see-all-user-quotes">see all my quotes</button>
          <%= render 'shared/see_all_user_quotes' %>
          <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".see-all-user-likes">see all my likes</button>
          <%= render 'shared/see_all_user_likes' %>
          <br>
          
          <div id="showmenu">Search</div>
          <div class="menu" style="display:none"><form action="">
            <input type="text" value="<%= params[:keyword]%>" name="keyword" placeholder="Search for inspiration...">
            <%= submit_tag "looook" %>
            </form>

          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>ALL quotes</h2>
          <div id="total-quotes-container" class="">
            <% @quotes.each do |q| %>
              <li><%= q.content %> de l'utilisateur<%= q.user_id %></li>
                <% if @user.upvoted?(q)%>
                  <li><span><%= link_to '<i class="fa fa-heart" aria-hidden="true"></i>
              '.html_safe, upvote_path(current_user.upvotes.where(quote: q).first), method: :delete %></span></li>
                <% else %>
                  <li><span><%= link_to '<i class="fa fa-heart-o" aria-hidden="true"></i>
              '.html_safe, upvotes_path(quote_id: q.id), method: :post%></span></li>
                <% end %>
            <% end %>
          </div>
          
        </div>

        <div class="col-xs-12 col-sm-4">
          <h2>FEED</h2>
        </div>

        </div> <!-- ROW -->
        <%= render 'shared/search-inspiration' %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".search-inspiration">QUOTES CINEMA</button>
          <%= render 'shared/search-inspiration' %>

        
    
    </div> <!-- user action -->
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h2>Voici MES citations</h2>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".show-quotes-modal-sm">See my quotes</button>


        <%= render 'shared/quote_list' %>
          
    </div>
  </div> <!-- row -->



</div> <!-- container -->

  
  <%= render 'shared/quote_form' %>
  <%= render 'shared/see_user_network' %>

  <% else %>
  <div class="container">
    <div class="visitor-welcome">
      <h1>Hannibal</h1>
      <p>just sign in!</p>  
      <p><%= link_to image_tag('noun_login_small.png'), new_user_session_path %></p>  
    </div>
    
  </div>
<% end %>