<div class="container">
  <%= render 'shared/error_messages' %>
  <% if @quotes && user_signed_in? %>
    <%= render 'shared/navbar' %>
      <div class="row">

        <div id="home-user-actions" class="col-xs-12 col-sm-2 small-margin">
          <h2 class='small-margin text-center'>Display...</h2>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".see-all-user-quotes">All I wrote</button>
          <%= render 'shared/see_all_user_quotes' %>
          <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".see-all-user-likes">All I liked</button>
          <%= render 'shared/see_all_user_likes' %>
          <br>
          <button type="button" id="showmenu" class="btn btn-primary">Some inspiration...</button>
          <!-- <div id="showmenu">Search</div> -->
          <div class="menu" style="display:none">
            <form action="">
            <input type="text" value="<%= params[:keyword]%>" name="keyword" placeholder="Enter a keyword ...">
            <%= submit_tag "look" %>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <h2 class='small-margin text-center'>ALL quotes</h2>
          <div id="total-quotes-container" class="">
            <% @quotes.each do |q| %>
            <div class="blockquote middle-margin">
              <li class="home-page-allquotes"><%= q.content %></li>
                <% if @user.upvoted?(q)%>
                  <li><span><%= link_to q.user.name, user_path(q.user_id) %> <%= link_to '<i class="fa fa-heart" aria-hidden="true"></i>
              '.html_safe, upvote_path(current_user.upvotes.where(quote: q).first), class:'yellow', method: :delete %></span></li>
                <% else %>
                  <li><span> <%= link_to q.user.name, user_path(q.user_id), class:'gray' %> <%= link_to '<i class="fa fa-heart-o" aria-hidden="true"></i>
              '.html_safe, upvotes_path(quote_id: q.id), class:'yellow', method: :post%></span></li>
                <% end %>
                <%= image_tag("noun_quotes.png", size: "16x16", alt: "Quote separation", class:'center-block') %>
            </div>
            <% end %>
          </div>
          
        </div>

        <div class="col-xs-12 col-sm-5">
          <h2 class='small-margin text-center'>FEED</h2>
        </div>

        </div> <!-- ROW -->        
    </div> <!-- user action -->
</div> <!-- container -->

  
  <%= render 'shared/quote_form' %>
  <%= render 'shared/see_user_network' %>

  <% else %>
  <div class="container">
    <div class="visitor-welcome">
      <h1>Hannibal</h1>
      <p>just sign in!</p>  
      <p><%= link_to image_tag('noun_login_small.png'), new_user_session_path %></p>  
      <p>sign UP!</p>  
      <p><%= link_to image_tag('noun_login_small.png'), new_user_registration_path %></p>  
    </div>
    
  </div>
<% end %>