<h1>Page d'accueil d'Hannibal</h1>

<%= render 'shared/error_messages' %>


<% if @quotes && user_signed_in? %>
  <p>Ajouter une citation</p>
<%= render 'shared/quote_form' %>
<h2>Voici MES citations</h2>
  <% @user_quotes.each do |q| %>
  <li><%= q.content %> de l'utilisateur<%= q.user_id %></li>
  <% if q.user == current_user %>
  <li><%= link_to "X", quote_path(q), method: :delete %></li>
  <% end %>
  
  <hr>
  <% end %>

  <h2>Here are all the quotes I like</h2>
  <% current_user.upvotes.all.each do |u| %>
    <%= u.quote.content %> de l'utilisateur <%= u.quote.user_id %>
  <% end %>

  <h2>Voici toutes les citations dispo</h2>
    <% @quotes.each do |q| %>
        <li><%= q.content %> de l'utilisateur<%= q.user_id %></li>
        <% if @user.upvoted?(q)%>
           <li><span><%= link_to 'UNLIKE', upvote_path(current_user.upvotes.where(quote: q).first), method: :delete %></span></li>
          <% else %>
          <li><span><%= link_to 'LIKE', upvotes_path(quote_id: q.id), method: :post%></span></li>
        <% end %>
    <% end %>


  <% else %>

  <p>Oups, not signe in</p>
<% end %>