<h1>Page d'accueil d'Hannibal</h1>

<%= render 'shared/error_messages' %>


<% if @quotes && user_signed_in? %>
  <p>Ajouter une citation</p>
<%= render 'shared/quote_form' %>
<h2>Voici MES citations</h2>
  <% @user_quotes.each do |q| %>
  <li><%= q.content %> de l'utilisateur<%= q.user_id %></li>
  <% if q.user == current_user %>
  <li><%= link_to "X", quote_path(q), method: :delete %></li>
  <% end %>
  <% if @user.upvoted?(q)%>
     UNVOTE ici
     <%= link_to 'UNLIKE', upvote_path(current_user.upvotes.where(quote: q).first), method: :delete %>
    <% else %>
     LIKE la 
     <%= link_to 'LIKE', upvotes_path(quote_id: q.id), method: :post%>
  <% end %>
  <hr>
  <% end %>
  <h2>Voici toutes les citations dispo</h2>
    <% @quotes.each do |q| %>
        <li><%= q.content %> + ||| - </li>
    <% end %>
  <% else %>
  <p>Oups, not signe in</p>
<% end %>