<!DOCTYPE html>
<html>
  <head>
    <title>BasicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'bolt_600_golden.png' %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Merriweather|Roboto:300,400" rel="stylesheet">


  </head>

  <body>
    <% if flash[:alert] %>
      <%=flash[:alert] %>
    <%end%>
    <%= yield %>
  </body>
</html>

<!-- Bolt Icon for favicon by by Zaff Studio -->

